
body {
  background: url(/images/beans.jpg);
  padding: 20px;
  font-family: sans-serif;
  
}
.menu {
  background-color: burlywood;
  max-width: 500px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 20px;
}
hr{
  height: 2px;
  background-color: brown;
  border-color: brown;

}
main h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  
}
.stablished {
  font-style: italic;
}
h1, h2 {
  font-family: impact, serif;
}
.established {
  font-size: 20px;
  font-style: italic;
}
section, h2 {
  font-size: 30px;
}
section, img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  
}
.flavour, .Desserts {
  font: caption;
  text-align: left;
  width: 75%;

}
.price{
  text-align: right;
  width: 25%;
}
.down-line {
  margin-top: 20px;
  margin-bottom: 20px;
}
footer {
  font-size: 14px;
}
a {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: blue;
}
a:active {
  color: red;
}
.address {
  margin-bottom: 5px;
}